body {
  background-color: #fafafa;
  scroll-behavior: smooth;
}

body * {
  font-family: Calibre, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16pt;
}

main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

button {
  /* align-self: flex-end; */
  background-color: #c8102e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem;
  /* width: 100%; */
  border: 0.0625rem solid;
  border-radius: 0.25rem;
  outline: none;
  font-size: 15px;
  margin-top: 8px;
}

#searchbar {
  width: 30%;
  max-width: 450px;
  height: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: white;
}

#searchbar div {
  display: flex;
  flex-direction: column;
}

#searchbar input {
  width: 100%;
  padding: 0.25rem;
  margin: 0.1rem;
  height: 2rem;
  font-size: 14pt;
}

#searchbar h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* --------------- items ---------------- */

#items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
  width: 70%;
  margin-left: 2rem;
  padding: 0.5rem;
}

#items > section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  row-gap: 1em;
  width: 100%;
  max-height: fit-content;
  margin-bottom: 3rem;
  transition: max-height linear 0.3s;
}

#items > section > section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-color: azure; */
  row-gap: 1rem;
  max-height: 100%;
  transition: max-height ease-in-out 0.3s;
  overflow: hidden;
}

#items > section > section > p {
  font-size: 14pt;
  margin: 0;
}

#items h3 {
  height: 2rem;
  width: 100%;
  margin: 0;
  background-color: #c8102e;
  color: white;
  padding: 0.35rem;
  border-radius: 0.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 400px;
  flex-wrap: wrap;
  margin: 0.5em;
  background-color: white;
}

.card .photo {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.card .cardContents {
  background: white;
  padding: 0.3rem;
}

.card img {
  width: 100%;
}

.card h2 {
  font-size: 16pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* handle collapsing cards under searches */

#items > section.collapsed {
  max-height: 550px;
}

#items > section > section.collapsed {
  max-height: 420px;
  overflow: hidden;
}

/* loading animation */

#sidebar svg {
  height: 100px;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

#load-circle {
  width: 250px;
  height: 100px;
  flex-grow: 0;
  z-index: 1;
  animation: strokeSpin 1.4s ease-in-out infinite both;
  stroke: #6b6f74;
  fill: transparent;
  stroke-dasharray: 150;
  stroke-linecap: round;
  stroke-width: 0.2rem;
  transform-origin: 50% 50%;
}

@keyframes strokeSpin {
  0%, 25% {
    stroke-dashoffset: 140;
    transform: rotate(0);
  }
  50%, 75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 140;
    transform: rotate(360deg);
  }
}

#items > section > section.loading {
  width: 100%;
  height: 400px;
  z-index: 1;
  animation: shimmerTile 2s forwards infinite;
  background-color: rgb(250, 250, 250);
  background-image: linear-gradient(90deg, rgb(250,250,250) 0px, rgb(229,230,231) 20%, rgb(250,250,250) 40%, rgb(250, 250, 250));
  background-repeat: no-repeat;
}

@keyframes shimmerTile {
  0% {
    background-position: -1150px 0;
  }
  100% {
    background-position: 1150px 0;
  }
}

.hidden {
  display: none;
}